* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #0655469e;
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.all-container {
    background: #148867;
    padding: 20px 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
}

form {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

input {
    flex: 1;
    padding: 10px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}

.filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}


.filter.active {
    font-weight: bold;
    color: #000000;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #F9F9F9;
    padding: 5px;
    margin-bottom: 12px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.completed {
    text-decoration: line-through;
    color: #999;
}


